# Copyright 2025 Author(s) of MCP Any
# SPDX-License-Identifier: Apache-2.0

upstream_services:
  - name: weather.gov
    upstream_auth:
      api_key:
        param_name: "User-Agent"
        value:
          plain_text: "mcpany-example/1.0"
    http_service:
      address: "https://api.weather.gov"
      tools:
        - name: "get_grid"
          call_id: "get_grid"
      calls:
        get_grid:
          endpoint_path: "/points/{{latitude}},{{longitude}}"
          method: "HTTP_METHOD_GET"
          input_schema:
            type: "object"
            properties:
              latitude:
                type: "string"
                description: "The latitude of the location."
              longitude:
                type: "string"
                description: "The longitude of the location."
          output_schema:
            type: "object"
            properties:
              properties:
                type: "object"
                properties:
                  forecast:
                    type: "string"
  - name: weather.gov-forecast
    upstream_auth:
      api_key:
        param_name: "User-Agent"
        value:
          plain_text: "mcpany-example/1.0"
    http_service:
      address: "https://api.weather.gov"
      tools:
        - name: "get_forecast"
          call_id: "get_forecast"
      calls:
        get_forecast:
          endpoint_path: "{{forecast_url}}"
          method: "HTTP_METHOD_GET"
          input_schema:
            type: "object"
            properties:
              forecast_url:
                type: "string"
          output_schema:
            type: "object"
            properties:
              properties:
                type: "object"
                properties:
                  periods:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        name:
                          type: "string"
                        startTime:
                          type: "string"
                        endTime:
                          type: "string"
                        isDaytime:
                          type: "boolean"
                        temperature:
                          type: "integer"
                        temperatureUnit:
                          type: "string"
                        windSpeed:
                          type: "string"
                        windDirection:
                          type: "string"
                        shortForecast:
                          type: "string"
                        detailedForecast:
                          type: "string"
