*
!ui/
!proto/
!proto/**
!server/
!go.mod
!go.sum
!Makefile
!ui/Dockerfile.e2e
!.dockerignore
!server/
!k8s/
!go.mod
!go.sum
!go.work
!go.work.sum

ui/node_modules
ui/.next
ui/test-results
ui/playwright-report
ui/coverage
ui/*.log

proto/node_modules
**/node_modules
