# Copyright (C) 2025 Author(s) of MCP Any
# SPDX-License-Identifier: Apache-2.0

# Generated protobuf files
# **/*.pb.go
coverage*.out
coverage.html

# Build artifacts
/build/

/vendor/

# Node
node_modules/

# Gemini CLI
.gemini/

# Log files
*.log

# Python cache
__pycache__/
coverage.html
.cache/
build/

# Jules Agent
.[Jj][Uu][Ll][Ee][Ss]/

# Database
*.db
*.db-shm
*.db-wal
data/
mcpany.db

.audits/
.audit/
*.txt

# Lint reports
lint_report.*
.last-run
**/.last-run.json

# Secrets
ui/secrets-master.key
ui/secrets-store.json
build-context/
proto/node_modules/
proto/node_modules
