# Generated protobuf files
# **/*.pb.go
coverage.out

# Build artifacts
/build/

/vendor/

# E2E test dependencies
tests/integration/upstream/node_modules/
tests/integration/upstream/package-lock.json

# Node
node_modules/
