# Copyright 2025 Author(s) of MCP Any
# SPDX-License-Identifier: Apache-2.0

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
coverage-final.json

# Production
build
dist

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.next
.vercel

# Terraform
.terraform
.terraform.lock.hcl

# Python
__pycache__
*.pyc

# Go
bin/
server/bin/
# Generated protos in Go are committed usually, but if not:
# *.pb.go

# Temp
skipped_tests_manifest.json
seeder
