# Copyright 2026 Author(s) of MCP Any
# SPDX-License-Identifier: Apache-2.0

# CircleCI Configuration
version: 2.1

orbs:
  go: circleci/go@1.9.0
  node: circleci/node@5.1.0

jobs:
  build:
    docker:
      - image: cimg/go:1.22
    steps:
      - checkout
      - go/load-cache
      - go/mod-download
      - go/save-cache
      - run:
          name: Build Server
          command: make -C server build
      - run:
          name: Test Server
          command: make -C server test

  build-ui:
    docker:
      - image: cimg/node:20.11.0
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
          app-dir: ui
      - run:
          name: Build UI
          command: cd ui && npm run build
      - run:
          name: Lint UI
          command: cd ui && npm run lint

workflows:
  version: 2
  build-and-test:
    jobs:
      - build
      - build-ui
