# Copyright 2026 Author(s) of MCP Any
# SPDX-License-Identifier: Apache-2.0

services:
  server:
    build:
      context: ..
      dockerfile: server/docker/Dockerfile.server
    ports:
      - "51235:50050"
    command:
      [
        "run",
        "--config-path=config.minimal.yaml",
        "--mcp-listen-address=:50050",
      ]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:50050/healthz"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ../server/config.minimal.yaml:/app/config.minimal.yaml

  ui-tests:
    image: mcpany-ui-e2e:latest
    build:
      context: ../ui
      dockerfile: Dockerfile.e2e
    environment:
      - BACKEND_URL=http://server:50050
      - BASE_URL=http://localhost:9002
      - NEXT_PUBLIC_API_URL=http://server:50050
      - CI=true
      - CAPTURE_SCREENSHOTS=${CAPTURE_SCREENSHOTS}
    volumes:
      - ../ui/test-results:/work/ui/test-results
      - ../ui/playwright-report:/work/ui/playwright-report
      - ../ui/.audit:/work/ui/.audit
      - ../ui/docs:/work/ui/docs
      - ../docs:/work/docs
      - ../ui/playwright.config.ts:/work/ui/playwright.config.ts
      - ../ui/playwright.screenshots.config.ts:/work/ui/playwright.screenshots.config.ts
      - ../ui/tests:/work/ui/tests
      - ../ui/src:/work/ui/src
    ipc: host
    depends_on:
      server:
        condition: service_healthy
      http-echo-server:
        condition: service_healthy
    command: ["npx", "playwright", "test"]

  http-echo-server:
    build:
      context: ..
      dockerfile: server/docker/Dockerfile.http-echo-server
    ports:
      - "8081:8080"
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:8080/health",
        ]
      interval: 5s
      timeout: 2s
      retries: 5
