upstream_services:
- name: google_calendar
  upstream_auth:
    # api_key:
    #   # query_parameter_name is seemingly not supported by UpstreamAPIKeyAuth in auth.proto (only header_name).
    #   # But leaving it as is in case custom logic or older version supports it roughly.
    #   # Ideally this should be param_name: "X-Goog-Api-Key" or similar, but Google supports query param 'key'.
    #   # If UpstreamAPIKeyAuth enforces header, this might fail to auth, but registration might succeed.
    #   # The main issue was recursive replacement.
    #   # Fixed structure below:
    #   api_key:
    #     plain_text: "${GOOGLE_API_KEY}"
    oauth2:
      token_url: "https://oauth2.googleapis.com/token"
      client_id:
        plain_text: "${GOOGLE_OAUTH_CLIENT_ID}"
      client_secret:
        plain_text: "${GOOGLE_OAUTH_CLIENT_SECRET}"
      # refresh_token: "${GOOGLE_OAUTH_REFRESH_TOKEN}"
      scopes: "https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.events https://www.googleapis.com/auth/calendar.events.readonly https://www.googleapis.com/auth/calendar.readonly https://www.googleapis.com/auth/calendar.settings.readonly"

  openapi_service:
    spec_url: "https://api.apis.guru/v2/specs/googleapis.com/calendar/v3/openapi.yaml"
