# Copyright 2025 Author(s) of MCP Any
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

upstream_services:
- name: google_calendar
  upstream_authentication:
    # api_key:
    #   # query_parameter_name is seemingly not supported by UpstreamAPIKeyAuth in auth.proto (only header_name).
    #   # But leaving it as is in case custom logic or older version supports it roughly.
    #   # Ideally this should be header_name: "X-Goog-Api-Key" or similar, but Google supports query param 'key'.
    #   # If UpstreamAPIKeyAuth enforces header, this might fail to auth, but registration might succeed.
    #   # The main issue was recursive replacement.
    #   # Fixed structure below:
    #   api_key: 
    #     plain_text: "${GOOGLE_API_KEY}"
    oauth2:
      token_url: "https://oauth2.googleapis.com/token"
      client_id: 
        plain_text: "${GOOGLE_OAUTH_CLIENT_ID}"
      client_secret: 
        plain_text: "${GOOGLE_OAUTH_CLIENT_SECRET}"
      # refresh_token: "${GOOGLE_OAUTH_REFRESH_TOKEN}"
      scopes: "https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.events https://www.googleapis.com/auth/calendar.events.readonly https://www.googleapis.com/auth/calendar.readonly https://www.googleapis.com/auth/calendar.settings.readonly"

  openapi_service:
    spec_url: "https://api.apis.guru/v2/specs/googleapis.com/calendar/v3/openapi.yaml"
